In [3]:
# Part 1: Load a Dataset & Check Missing Values

# Task 1: Titanic Dataset
# - Load the dataset using Pandas.
# - Check for missing values in the 'Age' column.







# Part 2: Identify Duplicates & Inconsistencies

# Task 2: Duplicate Rows in Titanic Dataset
# - Identify any duplicate rows in the dataset.










# Part 3: Generate a Data Quality Report

# Task 3: Titanic Dataset Overview
# - Create a simple report of missing values, duplicates, and some basic statistics for the Titanic dataset.

In [4]:
import pandas as pd
import seaborn as sns

# --- Part 1: Load a Dataset & Check Missing Values ---

print("--- Part 1: Loading Dataset & Checking Missing Values ---")

# Task 1: Titanic Dataset - Load the dataset
# You can load it from a CSV file if you have it locally:
# df = pd.read_csv('titanic.csv')
# For this example, we'll use the dataset provided by Seaborn
try:
    df = sns.load_dataset('titanic')
    print("Titanic dataset loaded successfully.")
except Exception as e:
    print(f"Error loading Titanic dataset: {e}")
    print("Please ensure you have an internet connection or the 'titanic.csv' file locally.")
    exit() # Exit if dataset cannot be loaded

# Check for missing values in the 'Age' column
missing_age_values = df['Age'].isnull().sum()
print(f"\nNumber of missing values in the 'Age' column: {missing_age_values}")

# --- Part 2: Identify Duplicates & Inconsistencies ---

print("\n--- Part 2: Identifying Duplicate Rows ---")

# Task 2: Duplicate Rows in Titanic Dataset
# Identify any duplicate rows in the dataset
duplicate_rows = df.duplicated().sum()
print(f"Number of duplicate rows in the dataset: {duplicate_rows}")

# --- Part 3: Generate a Data Quality Report ---

print("\n--- Part 3: Generating Data Quality Report ---")

# Task 3: Titanic Dataset Overview
print("\n--- Data Quality Report for Titanic Dataset ---")

print("\n1. Missing Values:")
# Calculate missing values for all columns
missing_values_report = df.isnull().sum()
# Filter out columns with no missing values for a cleaner report
missing_values_report = missing_values_report[missing_values_report > 0].sort_values(ascending=False)

if not missing_values_report.empty:
    print(missing_values_report)
else:
    print("No missing values found in any column.")

print(f"\n2. Duplicate Rows: {duplicate_rows}")

print("\n3. Basic Statistics (Numerical Columns):")
print(df.describe())

print("\n4. Basic Statistics (Categorical/Object Columns):")
# Include object type columns for their basic statistics
print(df.describe(include=['object', 'category']))

print("\n--- End of Data Quality Report ---")

--- Part 1: Loading Dataset & Checking Missing Values ---
Titanic dataset loaded successfully.

KeyError: 'Age'

In [ ]:
import pandas as pd

# Load Titanic dataset from seaborn (or replace with your CSV path)
import seaborn as sns
titanic = sns.load_dataset('titanic')

# Check for missing values in the 'age' column
missing_age_count = titanic['age'].isna().sum()

print(f"Number of missing values in 'age' column: {missing_age_count}")

Number of missing values in 'age' column: 177

In [ ]:
# Check for duplicate rows
duplicates = titanic.duplicated()

# Count number of duplicates
num_duplicates = duplicates.sum()

print(f"Number of duplicate rows: {num_duplicates}")

# Optionally, display duplicate rows if any
if num_duplicates > 0:
    print("Duplicate rows:")
    print(titanic[duplicates])

Number of duplicate rows: 107
Duplicate rows:
     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
47          1       3  female   NaN      0      0   7.7500        Q   Third
76          0       3    male   NaN      0      0   7.8958        S   Third
77          0       3    male   NaN      0      0   8.0500        S   Third
87          0       3    male   NaN      0      0   8.0500        S   Third
95          0       3    male   NaN      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
870         0       3    male  26.0      0      0   7.8958        S   Third
877         0       3    male  19.0      0      0   7.8958        S   Third
878         0       3    male   NaN      0      0   7.8958        S   Third
884         0       3    male  25.0      0      0   7.0500        S   Third
886         0       2    male  27.0      0      0  13.0000        S  Second

       who  adult_male deck  embark_town alive  alone
47   woman       False  NaN   Queenstown   yes   True
76     man        True  NaN  Southampton    no   True
77     man        True  NaN  Southampton    no   True
87     man        True  NaN  Southampton    no   True
95     man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
870    man        True  NaN  Southampton    no   True
877    man        True  NaN  Southampton    no   True
878    man        True  NaN  Southampton    no   True
884    man        True  NaN  Southampton    no   True
886    man        True  NaN  Southampton    no   True

[107 rows x 15 columns]

In [ ]:
# Missing values count per column
missing_values = titanic.isna().sum()

# Number of duplicate rows
duplicates_count = titanic.duplicated().sum()

# Basic statistics summary
summary_stats = titanic.describe(include='all')

print("Missing Values per Column:")
print(missing_values)

print("\nNumber of Duplicate Rows:", duplicates_count)

print("\nSummary Statistics:")
print(summary_stats)

Missing Values per Column:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

Number of Duplicate Rows: 107

Summary Statistics:
          survived      pclass   sex         age       sibsp       parch  \
count   891.000000  891.000000   891  714.000000  891.000000  891.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   577         NaN         NaN         NaN
mean      0.383838    2.308642   NaN   29.699118    0.523008    0.381594
std       0.486592    0.836071   NaN   14.526497    1.102743    0.806057
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    2.000000   NaN   20.125000    0.000000    0.000000
50%       0.000000    3.000000   NaN   28.000000    0.000000    0.000000
75%       1.000000    3.000000   NaN   38.000000    1.000000    0.000000
max       1.000000    3.000000   NaN   80.000000    8.000000    6.000000

              fare embarked  class  who adult_male deck  embark_town alive  \
count   891.000000      889    891  891        891  203          889   891
unique         NaN        3      3    3          2    7            3     2
top            NaN        S  Third  man       True    C  Southampton    no
freq           NaN      644    491  537        537   59          644   549
mean     32.204208      NaN    NaN  NaN        NaN  NaN          NaN   NaN
std      49.693429      NaN    NaN  NaN        NaN  NaN          NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
25%       7.910400      NaN    NaN  NaN        NaN  NaN          NaN   NaN
50%      14.454200      NaN    NaN  NaN        NaN  NaN          NaN   NaN
75%      31.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
max     512.329200      NaN    NaN  NaN        NaN  NaN          NaN   NaN

       alone
count    891
unique     2
top     True
freq     537
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN